$icon-font-path: '../lib/bootstrap-sass-official/vendor/assets/fonts/bootstrap/';
@import '../../webapp/lib/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
@import '../../webapp/lib/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_theme.scss';


body {
	 background: #eee;
	 font-weight: normal;
	 font-family: "Open Sans","Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
	color: #00B7FF;
}

.pagination ul > .disabled > a, 
	.pagination ul > .disabled > a:hover,
	.pagination ul > .disabled > a:focus{
	background-color: #999999;
	color: white;
}

table.table tr td a.selectFullLine {
	// thanks to http://stackoverflow.com/a/1461009/535203
	display:inline-block;
	height:100%;
	width:100%;
}

header {
	background: #90af16;
	border-top: 1px solid #2b3c4e;
	border-bottom: 1px solid #2b3c4e;
	padding: 20px 0;
	margin-bottom: 20px;
}

table.tablesorter tbody tr.achieved > td {
	background-color: #dddddd;
}

.form-control {
	display: block;
	width: 90%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	color: black;
	background-color: #BAD15B;
	background-image: none;
	border: none;
	border-radius: 4px;
	
}

.form-control::-webkit-input-placeholder {
   color: grey;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: grey;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: grey;  
}

.form-control:-ms-input-placeholder {  
   color: grey;  
}

.logo{
	height: 140px;
	text-align: center;
}

.row{
	margin-left: -15px;
	margin-right: -15px;
}

.title {
	color: #fff;
	font-size: 50px;
	display:inline-block;
	vertical-align: middle;
	margin-left: 2%;
}

th {
	background-color: #90af16;
	color: white;
}

header input[type=search], header input[type=search]:focus {
	height: 100%;
	font-size: 18px;
	padding: 12px 20px 12px 10px;
	font-weight: 400;
	border: 1px solid white;
}

header button.btn-download {
	font-size: 20px;
	padding: 13px 10px 9px 10px;
	margin-left: 10px;
}

/* tables */
table.tablesorter {
    background-color:#BAD15B;
    margin:10px 0pt 15px;
    width: 100%;
    text-align: left;
}


table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    background-color:#BAD15B;
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #BAD15B;
}

table .header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000000 transparent;
  visibility: hidden;
}

table .headerSortUp, table .headerSortDown {
  background-color: #BAD15B;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

img {
	max-height:120px;
	max-width:120px;
}

.footer {
  background: gray;
  color: white;
  position: relative;
  
  padding: 20px 0;
  margin-top: 30px;
}

.imgFooter {
  color: orange;
  position: absolute;
  left: 3%;
  bottom: 0;
  max-height:120px;
 max-width:120px;
}

p {
  text-align: center;
}

span.highlight {
  background-color: yellow;
}